html{
	border-left: 100px solid #8B4513;
	border-right: 100px solid #8B4513;
}

body {
	background-color: #DEB887;
	margin: 0 auto;
	padding: 0 auto;
	height: 0 auto;
	width: 0 auto;
}

h1{
	text-align: center;
	color: #8B4513;
	font-size: 50px ;
}
 

nav{
	border: 1px solid #8B4513;
	background-color: #8B4513;
	text-align: center;
}

nav ul li{
	list-style-type: none;
	display: inline;
}

li a{
	text-align: center;
	padding: 25px;
	text-decoration: none;
	color: #DEB887;
}

li a:hover{
	background: #8B4513;
	border: 3px dotted #DEB887;
	border-radius: 50px;
}

#introduction{
	display: table;
}

#introduction h2 {
	text-align: center;
	color: #8B4726;
}

#introduction p {
	text-align: center;
	padding: 0 100px;
}

#introduction p a{
	text-align: center;
	text-decoration: none;
	color: #DEB887;
	background-color: #8B4513;
	padding: 7px;
	border-radius: 6px;	
}

#introduction p a:hover{
	border: 3px dotted #DEB887;
}

#introduction h3 {
	color: #8B4726;
	align-items: center;
}

.conteudogeral{
	padding-top: 20px;
	display: flex;
	margin-left: 150px;
	margin-right: 60px;
}

.esquerda{
  border: 5px dotted #8B4726;
  float: left;
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.direita{
  border: 5px dotted #8B4726;
  float: left;
  padding: 20px;
  margin: 10px;
  width: 520px;	
}

ul li {
	list-style-position: inside;
	list-style-type: none;
}

#habitat h2{
	text-align: center;
	color: #8B4726;
}

#habitat h3 {
	padding-top: 20px;
	color: #8B4726;
	text-align: center;
	text-decoration: underline;
}

ol li{
	list-style-position: inside;
	list-style-type:upper-roman;
	text-align: center;
}

#habitat p{
	text-align: center;
	padding: 0 100px;
}

#media{
	border-bottom: 30px solid #DEB887;
	padding: 0 120px;
}

#media h2 {
	text-align: center;
	color: #8B4726;
}

#rodape{
	border-top: 40px solid #8B4513;
}

#rodape p{
	text-align: center;
	padding: 20px; 
}